network:
  dnsdomain: int.foobar.ninja
  dnsserver:
    - 192.168.1.1
  dnssearch:
    - int.foobar.ninja
    - int.foobar.wtf

  routes:
    '0.0.0.0/0':
      via: 192.168.1.1
      comment: 'default route'

  interfaces:
    - name: 'eth0'
      comment: "test interface"
      enabled: True
      proto: static
      type: inet
      address: 192.168.1.130
      netmask: 24
    - name: 'eth0'
      comment: "test interface"
      proto: static
      type: inet6
      address: fd66::1
      netmask: 64


