{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkgs': [],
    'pkgs_bridge': ['bridge-utils'],
    'pkgs_vlan': ['vlan'],
    'confdir': '/etc/network',
},
}, grain='os_family', merge=salt['pillar.get']('network:lookup')) %}
