# settings for network states
#
{%- set network    = salt['pillar.get']('network', {}) %}

{% set config = {} %}
{% do config.update({ 'interfaces': [] }) %}


{% for interface in host.net.interfaces %}
  {% set item = {} %}
  {% do item.update({
    'name'      : interface.get('name'   , 'error: no name set'),
    'type'      : interface.get('type'   , interface_default.type),
    'proto'     : interface.get('proto'  , interface_default.proto),
    'enabled'   : interface.get('enabled', interface_default.enabled),
    'iface'     : interface.get('iface'),
    'kvmbridge' : interface.get('kvmbridge'),
    'ipaddr'    : interface.get('ipaddr'),
    'netmask'   : interface.get('netmask'),
    'routes'    : interface.get('routes', {})
    })
  %}
  {% do config.host.net.interfaces.append(item) %}
{% endfor %}

