#!/bin/sh
#
# route configuration script
#
# !!! THIS FILE IS MANAGED !!!
# !!! CHANGES WILL BE LOST !!!
#

# interface specific routes
# =========================
#
{%- for interface in interfaces %}

#
# {{ interface.name }}
#

{%- if interface.routes is defined %}
{%- for route,data in interface.get('routes',{}).iteritems() %}
# {{ data.get('comment','') }} ({{iname}})
ip route add {{ route }} via {{ data.via }} || true
{%- endfor %}
{%- else %}
# no interface specific routes defined
{%- endif %}

{%- endfor %}

# global routes
# =============
#
{%- for route,data in routes.iteritems() %}
# {{ data.get('comment','') }} 
ip route add {{ route }} via {{ data.via }} || true
{%- endfor %}

# ipv6 DAD race condition workaround
# ==================================
# https://lists.debian.org/debian-devel/2012/11/msg00038.html
#
sleep 1

